<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" 
         version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- true: Annotationen werden ignoriert -->
    <display-name>aufgabe11a_deployment</display-name>
    
    <servlet>
         <servlet-name>WebAppServletXML1</servlet-name>
         <servlet-class>com.hemmerling.aufgabe11a_deployment.controller.WebAppServletXML1</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>WebAppServletXML1</servlet-name>
         <url-pattern>/WebAppServletXML1</url-pattern>
    </servlet-mapping>

     <servlet>
         <servlet-name>WebAppServletXML2</servlet-name>
         <servlet-class>com.hemmerling.aufgabe11a_deployment.controller.WebAppServletXML2</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>WebAppServletXML2</servlet-name>
         <url-pattern>/WebAppServletXML2</url-pattern>
    </servlet-mapping>

     <listener>
        <description>WebAppContextListenerXML1</description>
        <listener-class>com.hemmerling.aufgabe11a_deployment.controller.WebAppContextListenerXML1</listener-class>
    </listener>
    <listener>
        <description>WebAppContextListenerXML2</description>
        <listener-class>com.hemmerling.aufgabe11a_deployment.controller.WebAppContextListenerXML2</listener-class>
    </listener>
    
<!--    <absolute-ordering>
        <name>myWebFragment1</name>
        <name>myWebFragment2</name>
        <others/>
    </absolute-ordering>-->
<!--  <context-param>
    <param-name>obst</param-name>
    <param-value>Main-Obst</param-value>
  </context-param>-->
  
<!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
    <!--<jsp-config></jsp-config>-->
    <!--<login-config></login-config>-->
        
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <!--<welcome-file>jsf/index.xhtml</welcome-file>-->
        <!-- aus dem Fragment -->
    </welcome-file-list>
    <!--<locale-encoding-mapping-list></locale-encoding-mapping-list>-->
</web-app>
