<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" 
         version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- true: Annotationen werden ignoriert -->
    <display-name>WebApp</display-name>
    
    <servlet>
         <servlet-name>ServletXML1</servlet-name>
         <servlet-path>com.hemmerling.aufgabe11a_deployment.controller.ServletXML1</servlet-path>
    </servlet>
    <servlet-mapping>
         <servlet-name>ServletXML1</servlet-name>
         <url-pattern>/ServletXML1</url-pattern>
    </servlet-mapping>

     <servlet>
         <servlet-name>ServletXML2</servlet-name>
         <servlet-path>com.hemmerling.aufgabe11a_deployment.controller.ServletXML2</servlet-path>
    </servlet>
    <servlet-mapping>
         <servlet-name>ServletXML2</servlet-name>
         <url-pattern>/ServletXML2</url-pattern>
    </servlet-mapping>

     <listener>
        <description>WebAppContextListenerXML1</description>
        <listener-class>com.hemmerling.aufgabe11a_deployment.controller.WebAppContextListenerXML1</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.hemmerling.aufgabe11a_deployment.controller.WebAppContextListenerXML2</listener-class>
    </listener>
    
<!--    <absolute-ordering>
        <name>myWebFragment1</name>
        <name>myWebFragment2</name>
        <others/>
    </absolute-ordering>-->
<!--  <context-param>
    <param-name>obst</param-name>
    <param-value>Main-Obst</param-value>
  </context-param>-->
  
    <filter>
        <filter-name>MyFilterXml1</filter-name>
        <filter-class>filter.MyFilterXml1</filter-class>
    </filter>
    <filter>
        <filter-name>MyFilterXml2</filter-name>
        <filter-class>filter.MyFilterXml2</filter-class>
    </filter>
    
    <filter-mapping>
      <filter-name>MyFilterXml1</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
      <filter-name>MyFilterXml2</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <context-param>
        <param-name>email</param-name>
        <param-value>admin@firma.de</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<jsp-config></jsp-config>-->
    <!--<login-config></login-config>-->


    <!--    
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.FilterDispatcher
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

        
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <!--<welcome-file>jsf/index.xhtml</welcome-file>-->
        <!-- aus dem Fragment -->
    </welcome-file-list>
    <!--<locale-encoding-mapping-list></locale-encoding-mapping-list>-->
</web-app>
